@charset "UTF-8";
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 0.3s;
  font-family: "Orbitron", sans-serif;
}

.container {
  background-color: #0f0a17;
  margin: auto;
  min-height: 100vh;
}
.container .main-header {
  background-color: black;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}
.container .main-header h1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@media (min-width: 800px) {
  .container .main-header h1 {
    font-size: 2rem;
  }
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.container .hero {
  background-image: url("img/nasa-N3BQHYOVq5E-unsplash-red@2x.jpg");
  background-size: cover;
  background-position: center;
  zoom: 1.3;
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 800px) {
  .container .hero {
    zoom: 0;
    height: 100vh;
  }
}
.container .hero article {
  padding: 1rem;
  max-width: 1200px;
}
@media (min-width: 800px) {
  .container .hero article {
    margin: 0 auto;
    flex: 0 0 90%;
  }
}
.container .hero article .redPlanet {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 0.2rem;
}
@media (min-width: 800px) {
  .container .hero article .redPlanet {
    font-size: 2rem;
  }
}
.container .hero article .mars-Hero {
  font-size: 1.56rem;
  margin-top: 0.5rem;
}
@media (min-width: 800px) {
  .container .hero article .mars-Hero {
    font-size: 2.3rem;
  }
}
.container .main-main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.container .main-main .text-box {
  flex: 0 0 100%;
}
.container .main-main form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .container .main-main form {
    margin-top: 5rem;
  }
}
.container .main-main form label {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  font-family: "Orbitron", sans-serif;
}
.container .main-main form h4 {
  margin: 0.5rem 0 2rem 0;
  text-align: center;
  color: white;
}
.container .main-main form input {
  font-size: 1.3rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 4px solid rgba(230, 79, 52, 0.7411764706);
}
.container .main-main form input.focusBorder {
  outline: none;
  border-bottom: 4px solid rgba(194, 190, 194, 0.927);
}
.container .main-main form input::-moz-placeholder {
  color: grey;
}
.container .main-main form input::placeholder {
  color: grey;
}
.container .main-main form input[type=submit] {
  border: none;
  background-color: rgba(194, 190, 194, 0.927);
  color: white;
  transition: 0.2s;
}
.container .main-main form input[type=submit][type=submit]:hover {
  transition: delay 1.5s;
  color: black;
  box-shadow: 0 0 10px rgba(194, 190, 194, 0.927), 0 0 20px rgba(194, 190, 194, 0.927), 0 0 40px rgba(194, 190, 194, 0.927), 0 0 80px rgba(194, 190, 194, 0.927), 0 0 160px rgba(194, 190, 194, 0.927);
  background-color: rgba(194, 190, 194, 0.927);
  cursor: pointer;
}
.container .main-main form input[type=submit][type=submit]:hover:disabled {
  background-color: rgba(230, 79, 52, 0.7411764706);
  color: #e0f0ea;
  box-shadow: none;
  cursor: not-allowed;
}
.container .main-main .input-text {
  color: white;
  margin-top: 2rem;
  text-align: center;
}
.container .main-main .char {
  color: white;
  transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  text-shadow: 0 0 4rem #fff;
}
.container .main-main .fade-in {
  transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  color: rgb(255, 68, 0);
  text-shadow: 0 0 1rem rgb(255, 68, 0);
}
.container .main-main .text-mars {
  color: white;
  margin: 6rem 0 2rem 0;
}
@media (min-width: 800px) {
  .container .main-main .text-mars {
    text-align: center;
    margin-top: 12rem;
  }
}
.container .main-main ::-webkit-scrollbar {
  width: 20px;
}
.container .main-main ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(185, 185, 185);
  border-radius: 10px;
}
.container .main-main ::-webkit-scrollbar-thumb {
  background: rgb(189, 188, 188);
  border-radius: 10px;
}
.container .main-main ::-webkit-scrollbar-thumb:hover {
  background: #cbc5c5;
}
.container .main-main .mars-container {
  display: flex;
  overflow-x: auto;
  padding: 1.5rem 0;
  max-width: 900px;
  margin: auto;
}
.container .main-main .mars-container .mars-card {
  flex: 0 0 212px;
  margin-right: 1rem;
  position: relative;
}
.container .main-main .mars-container .mars-card h4 {
  color: white;
}
@media (min-width: 800px) {
  .container .main-main .mars-container .mars-card h4 {
    display: none;
  }
}
.container .main-main .mars-container .mars-card h2 {
  color: white;
}
@media (min-width: 800px) {
  .container .main-main .mars-container .mars-card h2 {
    display: none;
  }
}
.container .main-main .mars-container .mars-card img {
  width: 100%;
  display: block;
}
.container .main-main .mars-container .mars-card .h2-overlay {
  display: none;
}
.container .main-main .mars-container .mars-card .h4-overlay {
  display: none;
}
@media (min-width: 800px) {
  .container .main-main .mars-container .mars-card .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.8s;
    cursor: pointer;
  }
  .container .main-main .mars-container .mars-card .overlay h4 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .container .main-main .mars-container .mars-card .overlay .textbox-overlay {
    text-align: center;
  }
  .container .main-main .mars-container .mars-card .overlay .textbox-overlay .h2-overlay {
    display: block;
  }
  .container .main-main .mars-container .mars-card .overlay .textbox-overlay .h4-overlay {
    display: block;
  }
  .container .main-main .mars-container .mars-card:hover .overlay {
    opacity: 1;
  }
}

/* switch - Boxen runt slider */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  /* Gömmer default HTML checkbox */
}
.switchBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switchBtn input:checked + .slider {
  background-color: #0f0a17;
}
.switchBtn input:checked + .slider:before {
  transform: translateX(23px);
  background-color: #f6f2e9;
}
.switchBtn input:focus + .slider {
  box-shadow: 0 0 2px #f6f2e9;
}
.switchBtn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f2e9;
  border-radius: 34px;
  transition: 0.4s;
}
.switchBtn .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(230, 79, 52, 0.7411764706);
  border-radius: 50%;
  transition: 0.4s;
}

.light .container {
  background-color: #f6f2e9;
}
.light .container h1 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container h3 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container p {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container a {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-header {
  background-color: #f6f2e9;
}
.light .container .hero {
  background-image: url("img/Frida_Henriksen_light_mars_bf979505-7a54-49ed-82f3-f26d206b0cf1.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 800px) {
  .light .container .hero {
    height: 100vh;
  }
}
.light .container .main-main {
  background-color: #f6f2e9;
}
.light .container .main-main form h4 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main .char {
  color: white;
  transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  text-shadow: 0 0 4rem #fff;
}
.light .container .main-main .fade-in {
  transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  color: rgba(230, 79, 52, 0.7411764706);
  text-shadow: 0 0 1rem rgb(255, 68, 0);
}
.light .container .main-main .mars-container .mars-card h4 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main .mars-container .mars-card h2 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main .mars-container .mars-card .overlay .textbox-overlay .h4-overlay {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main .text-mars {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main h4 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main .input-text {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main h2 {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main form label {
  color: rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main form input {
  font-size: 1.3rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 4px solid rgba(230, 79, 52, 0.7411764706);
}
.light .container .main-main form input.focusBorder {
  outline: none;
  border-bottom: 4px solid rgb(252, 214, 166);
}
.light .container .main-main form input::-moz-placeholder {
  color: grey;
}
.light .container .main-main form input::placeholder {
  color: grey;
}
.light .container .main-main form input[type=submit] {
  border: none;
  background-color: rgb(252, 214, 166);
  color: white;
  transition: 0.2s;
}
.light .container .main-main form input[type=submit][type=submit]:hover {
  transition: delay 1.5s;
  color: black;
  box-shadow: 0 0 10px rgb(252, 214, 166), 0 0 20px rgb(252, 214, 166), 0 0 40px rgb(252, 214, 166), 0 0 80px rgb(252, 214, 166), 0 0 160px rgb(252, 214, 166);
  background-color: rgb(252, 214, 166);
  cursor: pointer;
}
.light .container .main-main form input[type=submit][type=submit]:hover:disabled {
  background-color: rgba(230, 79, 52, 0.7411764706);
  color: #e0f0ea;
  box-shadow: none;
  cursor: not-allowed;
}/*# sourceMappingURL=style.css.map */